{% if appointments %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Patient</th>
      <th scope="col">Scheduled Time</th>
      <th scope="col">Status</th>
      <th scope="col">Check In Time</th>
      <th scope="col">Wait Time</th>
      <th scope="col">Exam Room</th>
      <th scope="col">Reason for Visit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for appointment in appointments %}
    <tr>
      <td>
        <a href="{% url 'patient_detail' pk=appointment.patient.pk %}">
          {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
        </a>
      </td>
      <td>{{ appointment.scheduled_time|time }}</td>
      <td>{{ appointment.status }}</td>
      <td>{{ appointment.check_in_time|time }}</td>
      <td>{{ appointment.wait_time }} minutes</td>
      <td>{{ appointment.exam_room }}</td>
      <td>{{ appointment.reason }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#appointment_notes_{{ appointment.api_id }}">
          View Notes
        </button>
      </td>
    </tr>
    <div class="modal" id="appointment_notes_{{ appointment.api_id }}" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Appointment Notes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ appointment.notes }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No appointments.</p>
{% endif %}