{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <div class="row my-4">
        <div class="column col-md-12 text-center">
            <h1>Thank you for checking in!</h1>
        </div>
    </div>
    <div class="row my-4">
        <div class="column col-md-12 text-center">
            <h4 class="py-4">
                Your next appointment is scheduled for {{ appointments.0.scheduled_time|time }}
            </h4>
        </div>
    </div>
<div>
</div>
<script type="text/javascript">
    window.setTimeout( function(){
         window.location = "/kiosk/";
     }, 10000);
</script>
{% endblock %}
