{% extends 'base.html' %}
{% block navbar %}
    {{ block.super }}
{% endblock %}
{% block body %}
<div class="row my-4">
    <div class="column col-md-12">
        <h2>Patient Detail: {{ patient.first_name }} {{ patient.last_name }}</h2>
    </div>
</div>
<div class="row my-4">
    <div class="column col-md-12 text-center">
        <a href="{% url 'patients' %}" class="mr-2"><button class="btn btn-primary">View All Patients</button></a>
        <a href="{% url 'appointments' %}"><button class="btn btn-primary">View Today's Appointments</button></a>
    </div>
</div>
<div class="row p-3">
  <div class="column col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Patient Info</h5>
        <p class="card-text"><strong>Name: </strong> {{ patient.first_name }} {{ patient.last_name }}<p>
        <p class="card-text"><strong>Address: </strong> {{ patient.address }}</p>
        <p class="card-text"><strong>City: </strong> {{ patient.city }}</p>
        <p class="card-text"><strong>State: </strong> {{ patient.state }}</p>
        <p class="card-text"><strong>ZIP Code: </strong> {{ patient.zip_code }}</p>
        <p class="card-text"><strong>Gender: </strong> {{ patient.gender }}</p>
        <p class="card-text"><strong>Date of Birth: </strong> {{ patient.date_of_birth }}</p>
      </div>
    </div>
  </div>
  <div class="column col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title"><h3>Medications</h3></div>
        {% for medication in medications %}
          <p class="card-text">{{ medication.name }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="column col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title"><h3>Allergies</h3></div>
        {% for allergy in allergies %}
          <p class="card-text">{{ allergy.description }}</p>
          <p class="card-text">{{ allergy.reaction }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}