{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <div class="row my-4">
        <div class="column col-md-12 text-center">
            <h1>Successfully Checked In</h1>
        </div>
    </div>
    <div class="row my-4">
        <div class="column col-md-12 text-center">
            <h4 class="py-4">Today's Appointment(s):</h4>
            <div class="row text-center">
                {% for appointment in appointments %}
                    <div class="col-md-4 pb-4">
                        <p><strong>Time: </strong> {{ appointment.scheduled_time|time }}</p>
                        <p><strong>Reason: </strong> {{ appointment.reason }}</p>
                        <p><strong>Exam Room: </strong> {{ appointment.exam_rooom }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<div>
</div>
<script type="text/javascript">
    window.setTimeout( function(){
         window.location = "/kiosk/";
     }, 10000);
</script>
{% endblock %}
